@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

*{
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background: teal;
}

/* Menu */

#radios{
    overflow: auto;
    position: absolute;
    left: 2%;
    top: 12.5%;
    width: 15%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

#radios:hover {
    background-color: rgba(0,0,0,0.3);
}

#radios div{
    margin-bottom: 2rem;
}

#competitivediv label{
    margin-right: 0.5rem;
}

#multidiv, #powersdiv, #additiondiv, #subtractiondiv, #competitivediv, #minmax{
    display: flex;
}

#multidiv label, #powersdiv label, #additiondiv label, #subtractiondiv label, #competitivediv label{
    transition: font-size 0.5s ease;
}

#competitivediv label:hover , #multidiv label:hover, #powersdiv label:hover, #additiondiv label:hover, #subtractiondiv label:hover{
    font-size: 3rem;
}

.radio{
    margin-left: 0.5rem;
}

#radios label{
    font-size: 2rem;
}

#minmax{
    text-align: center;
    justify-content: center;
}

#minmax input{
    cursor: pointer;
    margin: auto;
    width: 15%;
    border: 0;
    border-radius: 2px;
    font-size: 1.75rem;
    height: 50%;
    text-align: center;
}

#minmax label{
    margin: auto;
    justify-self: right;
    align-self: flex-start;
    font-size: 2.5rem;   
}

#wave{
    margin-top: 2rem;
    font-size: 2.75rem;
    font-weight: 100;
}
/* End menu region */

/* Headers */

#score, #highscore, #streak, #lives{
    position: absolute;
    font-size: 4rem;
    transition: font-size 0.5s ease;
    right: 2%;
}

#score{
    top: 2%;
}

#highscore{
    top: 15%;
}

#streak{
    top: 27%;
}

#lives{
    top: 39%;
}

#timediv{
    width: 100%;
}

/* Time slider */

#time{
    position: absolute;
    left: 33%;
    top: 5%;
    outline: 0;
    width: 35%;
    width: 35%;
    background: #2c2c2c;
    outline: none;
}

#time:-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: rgb(95, 95, 95);
  }

  #time::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(95, 95, 95);
}


/*Exercise header */

#questionDiv{
    position: absolute;
    left: 35%;
    top: 7.5%;
}

#questionDiv p{
    font-size: 20rem;
}

/* Answer input */

#input{
    position: absolute;
    left: 27.5%;
    top: 60%;
    font-size: 5rem;
    margin-top: 7.5rem;
    width: 50%;
    border: 0;
    border-radius: 6px;
    text-align: center;
    transition: background 0.3s ease-in-out;
    background-color: rgba(0,0,0,0.2);

}

#input:hover{
    background-color: rgba(0,0,0,0.3);
}

#powers, #multi, #competitive, #subtraction, #addition, #powersdiv label, #multidiv label, #competitivediv label, #additiondiv label, #subtractiondiv label, #input{
    cursor: pointer;
}